# Gradle files
.gradle/
build/
!app/build/

# Local configuration files
local.properties

# Android Studio and IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Android Studio cache
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/

# Keystore files
*.jks
*.keystore

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
#app/build/
#*/build/

# Proguard configuration files
proguard-rules.pro

# Miscellaneous
*.apk
*.ap_
*.dex
*.class

# Android NDK
ndkBuild/
local.properties

# UML File
ProjectUML.pdf

#Firebase
#google-services.json (Apparently prof wants it included to run properly, its prolly fineee)

#Demo video
DemoVid1.mp4
Deliverable2Demo.mp4
